<h1>Movie list</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Show', list_path(list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New list', new_list_path %>
